mixin product-reviews(data)
  product-reviews(name="product-reviews")
    h2 отзывы
    product-reviews-block
      average-rating
        h3 Средний рейтинг:
        +rating("-average", 4, 4.7)
        p на основании #{data.total_votes} отзывов
        span 95% покупателей рекомендуют эти товары
      ratings-distribution(all-votes=data.total_votes)
          h3 Распределение рейтингов:
          each index in [5, 4, 3, 2, 1]
            rating-block(receive-votes=data.distribution[index])
              each i in [5,4,3,2,1]
                if (i == index)
                  input(type="radio" name="rating-distribution" + index id="star" + index + i value=i checked)
                else
                  input(type="radio" name="rating-distribution" + index id="star" + index + i value=i)
                label(for="star" + index + i)
              rating-line
                progress-bar                  
      each index in data.product_index
        product-review
          author #{data.author[index]}
          +rating(index, 4)                    
          date #{data.date[index]}
          advantages #{data.advantages[index]}
          limitations #{data.limitations[index]}
          recommendation: p Я рекомендую этот товар другим!
      .product-review__button
        a(href="#product-reviews").classic-button.show-more Показать все
